@charset "ISO-8859-1";
body{
	background: #35424a
}

.ts-product-container{
    text-align:center;
}
.ts-product-container .ts-product{
    display: inline-block;
    height: 250px;
    margin: 10px 40px;
    width: 200px;
    background: #eee;
    font-weight: bold;
}

#article-blob{
	color: #eee;
	font-size: 16px;
}

footer{
	background: #000;
	margin: 20px;
	height: 50px;
}

#copyright{
	color: #eee;
}